[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
qiskit = "0.20.0"
jupyterlab = "2.2.6"
qiskit-textbook-src = {editable = true, git = "https://github.com/qiskit-community/qiskit-textbook.git", subdirectory = "qiskit-textbook-src"}
pylatexenc = ">=1.4"
ipywidgets = "==7.5.1"
ipympl = "*"
nodejs = "*"
npm = "*"

[requires]
python_version = "3.7"
